
* {
	padding:0;
    margin:0;
    border: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    background: #000000;
    
}
header{
 width: 100%;
 height: auto;
 color: aliceblue;
 position: fixed;
 transition: 0.7s;
}
.ani--header{
    background: rgb(0, 0, 0);
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border: solid 0px #fff;
}
.co-icon-p {
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.co-icon-p .bi-arrow-left-short{
    color: #fff;
    font-size: 30px;
    border: solid 0px #fff;
}
.co-title-p{
    width: 90%;
    font-size: 20px;
    font-family: Verdana;
    border: solid 0px #fff;
}
.co-poster{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.poster{
    color:#fff;
    width: 720px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    margin-top: 390px;
    font-family: Verdana;
}
.detalle-poster{
    width: 100%;
    max-width: 720px;
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px #fff;
    font-size: 14px;
}
.detalle-poster h3{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.t-sipnosis{
    text-align: justify;
}

.detalle-poster button{
    width: 200px;
    height: 40px;
    border-radius: 7px 7px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #000000;
    align-items: center;
    letter-spacing: 0.14em; 
}
.detalle-poster button:hover{
    color: #ffffff;
    background: #ff0202;
}

.bi-star, .bi-star-half, .bi-star-fill{
    margin-right: 4px;
    color:#fcff2f;
    font-size: 18px;
}
.detalle-poster .puntuacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:#fcff2f;
    font-size: 20px;
    border: solid 0px #fff;
    margin-left: 5px;
}
.co-est-dur{
    justify-content: center;
}
.co-button{
    margin-top: 10px;
}

.co-video{
    width: 100%;  
    display: flex;
    justify-content: center;
    border: solid 0px #fff;
    margin-top: 3px;
    transition: 0.7s;
    margin-bottom: 30px;
}


.co-frame{
    width: 90%;
    max-width: 720px;
    height: 320px;
    display: block;
    justify-content: center;
    margin-bottom: 30px;
    border: solid 0px #fff;
}
.co-frame iframe{
    width: 100%;
    height: 320px;
    border: solid 1px #fff;
    border-radius: 3px 3px;
}
.trailer{
    width: 90%;
    max-width: 720px;
    color: #fff;
    margin-top: 10px;
    font-family: Verdana;
}

:-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
 }

 /*********************plantilla serie*************************/

 .contenedor-link{
    border: solid 0px chartreuse;
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.co-nav{
    width: 70%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}

.menu{
    width: 100%;
    max-width: 250px;
    display: block;
    border: 0px solid #ffff;

}
.list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    border: 0px solid #ffff;
    display: block;
    margin-bottom: 3px;
    
}
.cont-link{
    width: 100%;
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 5px 5px;
    background: #533939;
}

.submenu-btn .bi-arrow-right-short{
    margin-left: 10px;
    color: #ff3434;
    font-size: 40px;
       
}
.menu__link{
    width: 48%;
    height: 30px;
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0px solid #ffff;
    margin: 2px 2px;
    background: #fff;
    border-radius: 3px 3px;
}

.menu__link .bi-circle-fill{
    margin-right: 4px;
    margin-left: 7px;
}
.bi-play-fill, .bi-cloud-arrow-down-fill{
    font-size: 20px;
    color:  var(--color-uno);
    margin-right: 7px;
    margin-left: 7px;
}

.link--{
    width: 100%;
    height: 40px;
    border: 0px solid #ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #333;
}

.submenu-btn{
    width: 100%;
    max-width:250px ;
    height: 40px;
    text-align: center;
    padding: 7px 7px;
    background: #ffffff;
    border-radius: 7px 7px;
    color: #000000;
    font-size: 18px;
}
.submenu-btn:hover, .menu__link:hover{
    cursor: pointer;
    color: #fff;
    background: #b80c0c;
}
