/*
---© Proyecto B!LOA. All rights reserved
---Autor:Ober Hernandez
---Proyecto de aprendizaje
---info.biloa@gmail.com
*/
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:root{
    --color-uno:rgb(34, 37, 75);
    --color-dos: rgb(55, 59, 105);
    --color-tres:rgb(189, 0, 0);
}
body{
    background: var(--color-dos);
    font-family: 'Poppins', sans-serif;
 
}
/*>>>>>>>>>>>>>>>>Cabecera>>>>>>>>>>>>>>>>>>>>*/
header{
    width: 100%;
    height: 90px;
    position: fixed;
    transition: 0.7s;
    background: var(--color-uno);
    border: solid 0px #fff;
}
.content-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;  
    margin-top: 10px;
    border: solid 0px #fff;
}
.content-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: solid 0px #fff;
}
.co-icon-1{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.co-icon-1 .bi-list{
    font-size: 30px;
}
.co-icon-2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}
.co-icon-2 .co-text{
    color: #fff;
    font-family: Arial;
    
}
.co-icon-3{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.icons-style{
    color: #fff;
    font-size: 25px;
}
.co-icon-3 .bi-filter{
    font-size: 35px;
    
}

.content-submenu{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: solid 0px  #fff;
    background: var(--color-uno);
        
}
.co-submenu{
    width: 90%;
    display: flex;
    height: auto;
    margin-top: 0px;
    overflow: auto;
    color: #fff;
    border: solid 0px  #fff;
}

.co-submenu .link{
    list-style: none;
    margin: 6px;
    
}
.co-submenu .link a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
}
.co-genre, .co-version{
    display: none;
}
@media screen and (min-width: 800px){
 .icon-menu{
    display: none;
  }
  .co-text{
    display: none;
  }
  .content-submenu{
    width: 100%;
 
    background: var(--color-uno);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    
  }
  .co-submenu{
    width: 90%;
   
    display: flex;
   
    overflow-y:scroll;
    border: solid 0px  #fff;
    margin-bottom: 10px;
    
  }
  .link{
    width: 100%;
    min-width: 150px;
    height: 30px;
    border: solid 0px  #fff;
    margin: auto;
    background: var(--color-dos);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px 3px;
    
  }
  .co-submenu .link a{
    font-size: 14px;
    letter-spacing: 0.10em;
  }
  .co-genre{
    width: 80%;
    height: auto;
    display: block;
    border: solid 0px  #fff;
    margin-top: 13px;
    padding: 0;
    }

    .genre{
        background: var(--color-dos);
        width: 100%;
        font-family: Arial;
        font-size: 20px;
        color: var(--color-tres);
        border-radius: 3px 3px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .co-version{
        display: flex;
        width: 100%;
        max-width: 240px;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        bottom: 10px;
        
    }
    .co-version .version a{
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 0.10em;
    }
    .co-version .version a:hover{
     color: var(--color-tres);
    }
    
  .co-submenu::-webkit-scrollbar {
    -webkit-appearance: none;
}
.co-submenu::-webkit-scrollbar:vertical {
    width:0px;
}
.co-submenu::-webkit-scrollbar-button:increment,.co-submenu::-webkit-scrollbar-button {
    display: none;
} 
.co-submenu::-webkit-scrollbar:horizontal {
    height: 10px;
}
.co-submenu::-webkit-scrollbar-thumb {
    background-color:var(--color-dos);
    border-radius: 20px; 
}
.co-submenu::-webkit-scrollbar-track {
    border-radius: 10px;  
}
}
.co-logo-2 img{
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 800px){
    .co-logo-2{
      display: none;
    }
    body{
        background: #000000;
      }

      
      
  }
@media screen and (min-width: 1024px){
    .content-header{
        width: 82%;
    }
    .co-icon-1{
        width: 10%;
    }
    .co-icon-2{
        width: 70%;
        
    }
    .co-icon-3{
        width: 30%;
        max-width: 160px;
    }
    .co-submenu{
        width: 80%;
        
    }

   
}
.bi-search:hover, .bi-filter:hover, .bi-arrow-clockwise:hover, .bi-list:hover,
.bc .bc-1 a:hover, .bi-x:hover{
    color: #bd0000;
    cursor: pointer;
}
.ct_item-active{border-bottom: solid 2px #ff0303;}

/*>>>>>>>>>>>>>>>>menu lateral>>>>>>>>>>>>>>>>>>>>*/
@media screen and (min-width: 1024px){
    .co-menu-lateral, .bx{
        width: 60%;
        max-width: 300px;
    }
}
nav{
    background: var(--color-uno);
}
.co-menu-lateral{
    display: block;
    width: 60%;
    height: 100%;
    position: fixed;
    background: var(--color-uno);
    left: -100%;
    transition: all 0.4s;
    overflow: auto;
}

.bx{
    width: 60%;
    height: 100px;
    border: solid 0px #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    background: var(--color-uno);
    position: fixed;
    
}
.bx .bx-1{
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    border: solid 0px #fff;
    margin: 5px 5px;
    border-radius: 3px 3px;
    margin-top: 10px;
}

.bx .co-logo-1{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border: solid 0px #fff;
    margin: 5px 5px;
    margin-top: 10px;
}
.bx .co-logo-1 img{
    width: 100%;
    max-width: 100px;
}

.bx .co-text-v{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    font-size: 16px ;
    font-family: Arial, cursive;
}
.bc{
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: var(--color-dos);
    margin-top: 100px;
  
    
}
.bc1{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.bc .bc-1, .bc1 .bc-1{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    border: solid 0px #fff;
    margin: 15px 10px;
    
}
.bc .bc-1 .icon, .bc1 .bc-1 .icon{
    font-size: 20px;
    color: #d10000;
    margin-right: 30px;
}
.bc .bc-1 a, .bc1 .bc-1 a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    font-family: Arial;
}

/*---responsive adaptar pc--*/

@media(min-width:800px){
   
    .menu, .submenu{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .container-submenu{
        position: relative;
        width: 120px;
        list-style: none;
        border: solid 0px #ffffff;
        text-align: center;
    }
    
    .submenu{
        position: absolute;
        background: var(--color-uno);
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        border-radius: 3px 3px;
        display: flex;
        flex-direction: column;
        left: 0px;
        border: solid 0px #ffffff;
        list-style: none;
        padding: 1px 1px; 
    }
    .submenu li{
        padding: 10px 10px; 
    }
   
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
  
    .submenu li:hover{
        background: #c53939;
    }
  
} 

@media screen and (min-width: 800px){
    .bc1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 0px;    
    }
    .bc1 .bc-1{
        width: 120px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        border: solid 0px #fff;
        margin: 8px 3px;
        padding: 2px 2px;
    }
    .bc1 .bc-1 a:hover, .bc-1 li:hover{
        background: var(--color-dos);
        border-radius: 3px 3px;
        color: #ffffff;
        
    }
    .bc1 .bc-1 .icon{
        font-size: 20px;
        color: #d10000;
        margin-right: 5px;
    }
    .bc1 .bc-1 a{
        
        margin-left: 3px;
        padding: 2px 2px;
        width: 150px;
        text-align: center;
       
    }
   
    
}
/*>>>>>>>>>>>>>>>>Cards>>>>>>>>>>>>>>>>>>>>*/
.anuncios{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 140px;
   margin-bottom: 7px;
   background: var(--color-dos);
  
}
#atContainer-51b15bb786ead3ee88ddd1879659deaf{
    width: 90%;
    background: var(--color-uno);
    
}
.include-main{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:right;
   align-items: center;
   background: var(--color-dos);
}

.co-cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: auto;
	margin-right: auto;
	margin-top: auto;
    margin-bottom: 3em;
    grid-gap: 5px;
    
}

.cards{
    width: 100%;
    display: block;
    color: #fff;
    margin-bottom: 20px;
}
.img-cards{
    width: 100%;
}

.img-cards img{
    width: 100%;
    height: 370px;
    border-radius: 5px 5px;
}

.title-cards{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial Narrow; 
    letter-spacing: 0.10em;
    width: 100%;
    height: 20px;
    border-radius: 4px 4px;
    border: #bd0000 solid 0px;
    border: solid 0px #fff;
    
}
.title-cards p{
    width: 100%;
    
    border: solid 0px #fff;
}

@media screen and (max-width: 800px){
    .anuncios{
        margin-top: 110px;
    }
	.co-cards{
		grid-template-columns: repeat(4,1fr);
        width: 95%;
        margin-right: auto;
	}
    .img-cards img{
        width: 100%;
        height: 160px;
    }
    .title-cards{
        font-size: 10px;
    }
    .cards{
        margin-bottom: 0px;
    }
   
}

/*>>>>>>>>>>>>>>>>>>>search>>>>>>>>>>>>>>>>>>*/
.co-search-1{
    width: 100%;
    height: auto;
    display: flex;
    border: solid 0px #fff;
    background: #000000;
    position: fixed;
    
}

.co-boton-atras{
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px #fff;
    margin: 5px 5px 5px 5px;
    border-radius: 5px 5px;
   
}
.co-input-search{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 0px #fff;
    margin: 5px 5px 5px 5px;
    border-radius: 5px 5px;
   
}
.co-boton-atras .bi-arrow-left-short{
    color: #ffffff;
    font-size: 30px;
}
.co-boton-atras:hover{
    background: #bd0000;
    color: #ffffff;
}
.co-input-search input{
    width: 100%;
    height: 25px;
    border-radius: 5px 5px;
    text-align: left;
    font-size: 14px;
    outline: 0 none;
    border-color: rgb(255, 144, 0, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0)inset, 0 0 8px rgba(255,144,0, 0);
    background: rgb(19, 14, 14, 0);
}
.co-input-search input:focus{
    color: #ff4444;
}

::placeholder{
    font-family:  Arial;
    height: 30px;
    color: #fff;
    
}

/*>>>>>>>>>>>>>>>>>>>>>>>>por año>>>>>>>>>>>>>>>>>>>>>>>*/


.co-por-año{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.por-año{
    width: 95%;
    color: #fff;
    border: solid 0px #fff;
    font-family: sans-serif;
    font-size: 14px;
}

.co-bo-cerrar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.bo-cerrar{
    width: 90%;
}
.bo-cerrar button{
    border: none;
    border-radius: 2px 2px;
}
.co-co-por-año{
    width: 100%;
}
.año{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-left: auto;
	margin-right: auto;
	margin-top: auto;
    margin-bottom: 3em;
    grid-gap: 1px;
}
.año-co-bo button{
    width: 100%;
    max-width: 100px;
    border: none;
    border-radius: 2px 2px;
}
@media screen and (max-width: 800px){

	.año{
		grid-template-columns: repeat(4,1fr);
        width: 90%;
	}

    .año-co-bo button{
        width: 80px;
    }
}
.año-co-bo button:hover, .bo-cerrar button:hover{
    background-color: #d10000;
    color: #fff;
}

/*/////////////////////MODAL FILTRO AÑO//////////////////////////*/
.nav-modal-año{
    width: 100%;
    max-width: 240px;
    position: fixed;
    height: 100%;
    right: -100%;
    padding: 7px 7px;
    transition: all 0.4s;
    overflow-y: scroll;
}
.co-modal-año{
    width: 100%;
    max-width: 240px;
    height: auto;
    background: var(--color-uno);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 0px #fff; 
    margin-top: 3px;
    
    
}
.co-modal-año-title{
    width: 100%;
    text-align: center;
    height: auto;
    border: solid 0px #fff;
    background: var(--color-dos);
    padding-block: 7px 7px;
    border-radius: 3px 3px;
    color: var(--color-tres);
    font-size: 18px;
}

.modal-año{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7px 7px;
    
}
.co-año{
    width: 100%;
    border: solid 0px #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px 4px;
    
}
.filtro{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-dos);
    height: auto;
    border: solid 0px #fff;
    list-style: none;
    margin-bottom: 7px;
    padding-block: 7px 7px;
    border-radius: 3px 3px;
    background: var(--color-dos);
}
.co-año li a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.act-dos{
    background: var(--color-tres);
}



.nav-modal-año::-webkit-scrollbar {
    -webkit-appearance: none;
}
.nav-modal-año::-webkit-scrollbar:vertical {
    width:10px;
}
.nav-modal-año::-webkit-scrollbar-button:increment,.nav-modal-año::-webkit-scrollbar-button {
    display: none;
} 
.nav-modal-año::-webkit-scrollbar:horizontal {
    height: 10px;
}
.nav-modal-año::-webkit-scrollbar-thumb {
    background-color:var(--color-dos);
    border-radius: 20px; 
}
.nav-modal-año::-webkit-scrollbar-track {
    border-radius: 10px;  
}
