
.content-log img{
    max-width: 120px;
}
.content-log .latam{
    max-width: 250px;
}
.content-anuncio{
    max-width: 720px;
    border: 0px solid #000;
}

.content-anuncio img{
    max-width: 350px;
    box-shadow: 5px 5px 15px rgb(163, 163, 163);
    border-radius: 5px 5px;
    margin-bottom: 10px;
}
.card-body .title-card{
    margin-bottom: 10px;
     font-size: 18px;
}
.card-body a{
    width: 100%;
    text-decoration: none;
}
.card-body button{
    font-size: 18px;
    background: #4188f3;
    color: #fff;
    font-family: Arial;
}
.card-body .desc{
    text-align: justify;
}
@media screen and (min-width:900px ) {
    .card-img, .card-body{
        width: 50%;
    }
    .card-body .desc, .card-body button{
        width: 100%;
    }
    .content-anuncio{
        box-shadow: 5px 5px 15px rgb(163, 163, 163);
    }

}
